@model Example.Implementation.ViewModels.ContentViewModel
@{
	Layout = "~/Views/Shared/_layout.cshtml";
}
@section Main
{
	<header>
        <h1>@Model.Titel</h1>
		@if(Model.Afbeelding.IsNull())
		{
			<p>Er is geen afbeelding ingegeven.</p>
		}
		<p><img src="@Model.Afbeelding.Url" width="400px" height="400px" /></p>

        <i>@Model.Intro</i>
    </header>
    <section>
        @Model.MainBody
        
        <hr/>
        
        @* for demo purpose only...
        if (Model.Intro.Length < 110)
        {
            <p>@Model.Intro</p>
        }
        else
        {
            <p>@Model.Intro.Substring(0, 110)</p>
        }
        *@

        @Model.MiniIntro
    </section>
}
