@using Macaw.Umbraco.Foundation.Mvc
@{
	Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
        <script>
            
            var i = @Html.ToJson(Model as IPublishedContent, new[] { "titel" });
            var c = @Html.ToJson(Model.Children as IEnumerable<IPublishedContent>, new[] { "titel" }, false);
            window.alert(i.titel);
            
        </script>
        Rotatie snelheids: @Model.CarrouselContainer.Rotatiesnelheid<br />
		<ul>
		@foreach(var item in Model.CarrouselContainer.Children)
		{
			<li>@item.Afbeelding.Url @item.Titel - @item.Beschrijving @item.Link</li>
		}
		</ul>
    </header>
	<section>
		<h1>@Model.Titel</h1>
        <p>@Model.Intro</p>
		<section>
			@Model.MainBody
		</section>
	</section>
}

@section Side
{
	@Model.WidgetArea
}